.row
    .col.s12
        .card.horizontal.hide-on-small-only
            .card-image
                img(src=data['Profile photo'])
            .card-stacked
                .card-content
                    .card-title= data['Name']
                        small.right &nbsp;
                            if data.isOnline
                                | online&nbsp;
                            else
                                = data['Last seen']
                            if data.isFromMobile
                                i.material-icons stay_primary_portrait

                        br
                        small
                            if data.isListeningToMusic
                                i.material-icons audiotrack
                            = data['Current status']
                    include ./general_report_secondary_info

        .card.hide-on-med-and-up
            .card-image
                img(src=data['Profile photo'])
                .card-title= data['Name']
                    br
                    small
                        small
                            if data.isOnline
                                | online&nbsp;
                            else
                                | #{data['Last seen']}
                            if data.isFromMobile
                                i.material-icons.tiny stay_primary_portrait
            .card-content
                p
                    if data.isListeningToMusic
                        i.material-icons audiotrack
                    = data['Current status']

                include ./general_report_secondary_info

        ul.collapsible.collapsible-report-general(data-collapsible='expandable')
            li
                .collapsible-header More info
                    i.material-icons.right arrow_drop_down
                .collapsible-body
                    table.striped
                        tbody
                            each value, key in data
                                tr
                                    td
                                        strong= key
                                    td= value
