if (!data.length)
    h5 No updates found
each doc in data
    .row
        .col.s12
            .updates-card.card
                .card-content
                    .row
                        .col.s12
                            small User ID:&nbsp;#{doc.user_id}
                            small &nbsp;|&nbsp;
                            small.localize-date #{doc.timestamp}
                    .row
                        .col.s12
                            strong.timeago(data-datetime-iso=doc.timestamp) #{doc.timestamp}
                            //- small.hide-on-med-and-up
                                small.localize-date #{doc.timestamp}
                        hr
                    .row.updates
                        each update, key in doc.updates
                            .col.update
                                strong= key
                                p.old
                                    b Old:&nbsp;
                                    | #{update.old}
                                p
                                    b New:&nbsp;
                                    | #{update.current}
